<!DOCTYPE html>
<html>
<head>
    <title>BuildTrack</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav>
    <img src="/images/logo.png" class="logo">
    <a href="/">Dashboard</a>
    <a href="/create">New Project</a>
    <a href="/delete-completed">Delete Completed</a>
</nav>

<div class="container">
    {{{body}}}
</div>

</body>
</html>